shamefully-hoist = true
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
electron_builder_binaries_mirror=http://npm.taobao.org/mirrors/electron-builder-binaries/
registry=http://registry.npm.taobao.org
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector
sharp_binary_host=https://npm.taobao.org/mirrors/sharp
sharp_libvips_binary_host=https://npm.taobao.org/mirrors/sharp-libvips

node-options=--max_old_space_size=4096

@fire:registry=http://npm.pinquest.cn
@quan:registry=http://npm.pinquest.cn
@types:registry=http://npm.pinquest.cn
@qrc:registry=http://npm.pinquest.cn
@pinweb:registry=http://npm.pinquest.cn
@frontends.kit:registry=http://npm.pinquest.cn
@types:registry=http://npm.pinquest.cn

public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@qrc/*
public-hoist-pattern[]=@quan/*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
